<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python-Brasil</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center {
            text-align: center;
            width: 500px;
        }
    </style>
</head>
<body>
    <div class="center">
        <p>
            Iniciamos uma parceria Com a Python Brasil,
            você foi convocado, se você estiver bem informado,
            saberá o que fazer com esse link. 
        </br>
            <a href="/astronauta">Acessar nova missão</a>
        </p>
    </div>
</body>
</html>
